<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android = "http://schemas.android.com/apk/res/android"
	xmlns:tools = "http://schemas.android.com/tools"
	package = "thedankdevs.tcss450.uw.edu.tddevschat">

	<uses-permission android:name = "android.permission.INTERNET" />
	<uses-permission android:name = "android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name = "android.permission.ACCESS_FINE_LOCATION" />

	<application
		android:allowBackup = "true"
		android:fullBackupContent = "@xml/backup_descriptor"
		android:icon = "@mipmap/ic_launcher"
		android:label = "@string/app_name"
		android:roundIcon = "@mipmap/ic_launcher_round"
		android:supportsRtl = "true"
		android:theme = "@style/AppTheme"
		tools:ignore = "GoogleAppIndexingWarning">
		<!--Denote SignInActivity as the primary entry point for the user-->
		<activity
			android:name = ".SignInActivity.SignInActivity"
			tools:ignore = "InnerclassSeparator">
			<intent-filter>
				<action android:name = "android.intent.action.MAIN" />
				<category android:name = "android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!--Home Activity-->
		<activity
			android:name = ".HomeActivity.HomeActivity"
			android:label = "@string/title_activity_home"
			tools:ignore = "InnerclassSeparator" />

		<!-- Notifications -->
		<service android:name = ".utils.MyFirebaseMessagingService">
			<intent-filter>
				<action android:name = "com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>

		<!-- Set custom default icon. This is used when no icon is set for incoming notification messages. See README(https://goo.gl/l4GJaQ) for more. -->
		<meta-data
			android:name = "com.google.firebase.messaging.default_notification_icon"
			android:resource = "@drawable/ic_menu_share" />

		<!-- Set color used with incoming notification messages. This is used when no color is set for the incoming notification message. See README(https://goo.gl/6BKBk7) for more. -->
		<meta-data
			android:name = "com.google.firebase.messaging.default_notification_color"
			android:resource = "@color/colorMedPurple" />
		<!--Load Roboto Font!-->
		<meta-data
			android:name = "preloaded_fonts"
			android:resource = "@array/preloaded_fonts" />

		<!--Specify the Google API key; of which, is restricted to calling GoogleMap's API within this application-->
		<meta-data
			android:name = "com.google.android.geo.API_KEY"
			android:value = "AIzaSyBMbIL3cX1GwbLkhgiqYvAq7HlYaQh0B8A" />

		<!--Apache Exception Fix-->
		<uses-library
			android:name = "org.apache.http.legacy"
			android:required = "false" />

	</application>

</manifest>